$cream: #FFF2CC;
$black: #000;
$white: #FFF;
$darkblue: #fffccc;
$error: #FA0000;
$mediumblue: #7A7A7A;
$h1: #523026;
$inputborder: #00000F;
$inputborderfocus: #007a87;

$base-font-size: 14px;

$header-font-size: 32px;

$form-instructions-size: 12px;

$base-font-family: Roboto,sans-serif;
$header-font-family: Montserrat,sans-serif;


$large: "(min-width: 992px)";
$medium: "(min-width: 768px)";
