// import the variables and mixin I'm using on main sass file
@import '_variables.scss';
@import '_mixins.scss';


label, p, ul {
    font-family: $base-font-family;
    font-weight: 400;
    font-size: $base-font-size;
}

header {
    font-family: $header-font-family;
    display: flex;
    flex-direction: row;
    
    img {
        width: 157px;
        height: 50px;
    }

    .main-navigation {
        width: 100%;

        &_top-links {
            display: flex;
            flex: 1;

            a {
                font-family: $base-font-family;
                font-size: 14px;
            }
        }
    }
}

main {
    
    .create-account {

        &_header {
            background-color: $cream;

            @media #{$medium} {
                height: 231px;
            }

            h1 {
                font-family: $header-font-family;
                color: $h1;
                font-weight: 300;
                font-size: 2rem;
                line-height: 40px;
                color: #523026;

                @media #{$medium} {
                    font-size: 3rem;
                    line-height: 54px;
                    margin-bottom: 16px;
                }
            }
            
        }
    }

    .error {
        color: $error;
        margin-top: 1rem;
    }
}

footer {
    font-family: $header-font-family;
    background-color: $black;

    p, a {
        font-family: $base-font-family;
        font-size: 14px;
        color: $white;
    }

    .footer-nav {
        padding-top: 20px;
        padding-bottom: 20px;

        &.primary {
            padding-bottom: 0;
        }

        &.secondary a {
            margin-right: 20px;
            margin-left: 15px;
        }

        hr {
            border-top-color: #404040;
        }

        a {
            white-space: nowrap
        }
    }
}

input, select {
    border-radius: 4px;
    border-color: $inputborder;
    border-width: 1px;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    height: 36px;

    &-error {
        border-color: $error;
    }

    @include border-radius(4px);

    &:focus {
        border-color: $inputborderfocus;
        box-shadow: 0 0 3px 1px rgba(0,122,135,.2);

    }
}

input[type=checkbox] {
    margin-top: -5px;
    width: 18px;
}

.manual-margin {
    margin-bottom: 1rem;
}



// @media #{$large} {
    
// }

// @media #{$medium} {

// }