label, p, ul {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

header {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: row;
}

header img {
  width: 157px;
  height: 50px;
}

header .main-navigation {
  width: 100%;
}

header .main-navigation_top-links {
  display: flex;
  flex: 1;
}

header .main-navigation_top-links a {
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

main .create-account_header {
  background-color: #FFF2CC;
}

@media (min-width: 768px) {
  main .create-account_header {
    height: 231px;
  }
}

main .create-account_header h1 {
  font-family: Montserrat, sans-serif;
  color: #523026;
  font-weight: 300;
  font-size: 2rem;
  line-height: 40px;
  color: #523026;
}

@media (min-width: 768px) {
  main .create-account_header h1 {
    font-size: 3rem;
    line-height: 54px;
    margin-bottom: 16px;
  }
}

main .error {
  color: #FA0000;
  margin-top: 1rem;
}

footer {
  font-family: Montserrat, sans-serif;
  background-color: #000;
}

footer p, footer a {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #FFF;
}

footer .footer-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .footer-nav.primary {
  padding-bottom: 0;
}

footer .footer-nav.secondary a {
  margin-right: 20px;
  margin-left: 15px;
}

footer .footer-nav hr {
  border-top-color: #404040;
}

footer .footer-nav a {
  white-space: nowrap;
}

input, select {
  border-radius: 4px;
  border-color: #00000F;
  border-width: 1px;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  height: 36px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

input-error, select-error {
  border-color: #FA0000;
}

input:focus, select:focus {
  border-color: #007a87;
  box-shadow: 0 0 3px 1px rgba(0, 122, 135, 0.2);
}

input[type=checkbox] {
  margin-top: -5px;
  width: 18px;
}

.manual-margin {
  margin-bottom: 1rem;
}
